<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Net Utility", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Download Excel", "Export", "Excel")</li>
                    <li>@Html.ActionLink("Contact", "ContactUs", "ContactUs", null, new { @class = "modal-link", title = "Contact Us", data_target = "modal-container",data_toggle="modal" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>    
    @Scripts.Render("~/bundles/jquery") 
    @Scripts.Render("~/bundles/jqueryval")    
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    @Scripts.Render("~/bundles/bootstrap")    
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
    <div id="modal-container" class="modal fade" role="dialog" tabindex="-1">
        <a href="#close" title="close" class="modal-close-btn">X</a>
        <div class="modal-dialog" role="document">
            <div class="modal-content"> 
                <div class="modal-header text-center"></div>               
                <div class="modal-body">
                </div>     
                <div class="modal-footer">

                </div>           
            </div>     
        </div>
    </div>
</body>
</html>
